<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<type>user_usb</type>
	<cpname itemtype="string"></cpname>
	<cplogo itemtype="string"></cplogo>
	<cpauthjs itemtype="string"></cpauthjs>
	<ThumbIcon itemtype="string">icon/sampleIcon_106_87.png</ThumbIcon>
	<BigThumbIcon itemtype="string">icon/sampleIcon_115_95.png</BigThumbIcon>
	<ListIcon itemtype="string">icon/sampleIcon_85_70.png</ListIcon>
	<BigListIcon itemtype="string">icon/sampleIcon_95_78.png</BigListIcon>
	<category itemtype="string"></category>
	<autoUpdate itemtype="boolean">n</autoUpdate>
	<ver itemtype="string">0.100</ver>
	<mgrver itemtype="string"></mgrver>
	<fullwidget itemtype="boolean">y</fullwidget>
	<type itemtype="string">user</type>
	<srcctl itemtype="boolean">y</srcctl>
	<ticker itemtype="boolean">n</ticker>
	<childlock itemtype="boolean">n</childlock>
	<network itemtype="boolean">n</network>
	<videomute itemtype="boolean">n</videomute>
	<dcont itemtype="boolean">y</dcont>
	<widgetname itemtype="string">AppKeyboard</widgetname>
	<description itemtype="string"></description>
	<width itemtype="string">1280</width>
	<height itemtype="string">720</height>
	<author itemtype="group">
		<name itemtype="string"></name>
		<email itemtype="string"></email>
		<link itemtype="string"></link>
		<organization itemtype="string"></organization>
	</author>
</widget>
